@import "tailwindcss";

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-circle {
  z-index: 1;
  border: 2px solid #000000;
  border-radius: 50%;
  border-top: 2px solid transparent;
  width: 30px;
  height: 30px;
  animation: circle 1s linear infinite;
}

@keyframes circle {
  from 0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Toast */
.toast-animated {
  animation: stack 0.3s ease-in-out;
}

@keyframes stack {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
